.App {
  background-color: #dff8ca;
  font-size: larger;

}
li{
  margin-left: 500px; 
}

.img{
  margin-top: 1.5%;
  width: 400px;
  height: 500px;
  margin-bottom: 1.5%;
  border-radius: 0.5em;

}
button{
  margin-left: 650px;
  border-radius: 0.5em;
  background-color: #d3dfdf;
  border: 1px solid #1ddfd8;
  width: 150px;
  height: 40px;
  font-size: 17px;
}
